<!DOCTYPE html>
<html>
  <head>
    <title>OnlineClothing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
